/* line 19, ../../../scss/sass/user_center.scss */
.order_item_hd, .co_table, .order_item_total {
  border-bottom: 1px solid #dcdcdc; }

/* line 22, ../../../scss/sass/user_center.scss */
.order_item_hd, .order_item_total, .order_item_btn, .tips_box, .des_bottom, .coupon_inout_list, .user_bind_account, .change_account, .article_link, .article_detail_box, .m_dialog .m_dialog_bottom {
  padding-left: 0.32rem;
  padding-right: 0.32rem; }

/* line 26, ../../../scss/sass/user_center.scss */
.link-btn {
  width: 1.68rem;
  height: 0.56rem;
  line-height: 0.56rem;
  text-align: center;
  border-radius: 4px; }

/* line 30, ../../../scss/sass/user_center.scss */
.btn-dia {
  height: 0.62rem;
  line-height: 0.62rem;
  text-align: center;
  border-radius: 4px; }

/* line 34, ../../../scss/sass/user_center.scss */
.link-btn, .btn-dia {
  display: inline-block; }

/* line 61, ../../../scss/sass/user_center.scss */
.c666 {
  color: #666; }

/* line 64, ../../../scss/sass/user_center.scss */
.small {
  font-size: 0.22rem; }

/* line 67, ../../../scss/sass/user_center.scss */
.orange {
  color: #ff8a00; }

/* line 70, ../../../scss/sass/user_center.scss */
.green {
  color: #38b863; }

/* line 73, ../../../scss/sass/user_center.scss */
.gray {
  background: #ececec; }

/* line 76, ../../../scss/sass/user_center.scss */
.fl {
  float: left; }

/* line 79, ../../../scss/sass/user_center.scss */
.fr {
  float: right; }

/* line 82, ../../../scss/sass/user_center.scss */
.link-btn {
  font-size: 0.24rem;
  color: #666;
  margin-left: 0.3rem; }

/* line 87, ../../../scss/sass/user_center.scss */
.link-btn-bd {
  border: 1px solid #ccc;
  line-height: 0.54rem; }

/* line 90, ../../../scss/sass/user_center.scss */
.link-btn-bg {
  background-color: #38b863;
  color: #fff; }

/* line 93, ../../../scss/sass/user_center.scss */
.btn-dia {
  font-size: 0.24rem;
  color: #333; }

/* line 98, ../../../scss/sass/user_center.scss */
.btn-dia-bd {
  border: 1px solid #38b863; }

/* line 101, ../../../scss/sass/user_center.scss */
.btn-dia-bg {
  color: #fff;
  background-color: #38b863; }

/* line 106, ../../../scss/sass/user_center.scss */
.header {
  position: relative;
  height: 1.1rem;
  border-bottom: 1px solid #38b863;
  background-color: #fff; }
  /* line 110, ../../../scss/sass/user_center.scss */
  .header .hd_arrow_l {
    position: absolute;
    display: block;
    z-index: 3;
    width: 0.24rem;
    height: 0.43rem;
    margin-top: 0.335rem;
    margin-left: 0.26rem;
    background-image: url(../../images/user/arrow_l.png);
    background-size: 0.24rem 0.43rem; }
  /* line 117, ../../../scss/sass/user_center.scss */
  .header .title {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 1.1rem;
    line-height: 1.1rem;
    color: #666;
    text-align: center;
    font-size: 0.3rem; }

/* line 125, ../../../scss/sass/user_center.scss */
.user_info_box {
  position: relative;
  height: 4.54rem;
  background-color: #38b863; }
  /* line 129, ../../../scss/sass/user_center.scss */
  .user_info_box .user_photo {
    text-align: center; }
  /* line 132, ../../../scss/sass/user_center.scss */
  .user_info_box .img_info {
    text-align: center;
    color: #fff;
    font-size: 0.3rem; }
  /* line 135, ../../../scss/sass/user_center.scss */
  .user_info_box .photo_img {
    width: 1.52rem;
    height: 1.52rem;
    margin-bottom: 0.36rem;
    margin-top: 0.5rem;
    border-radius: 50% 50%;
    background-color: #fff; }
  /* line 139, ../../../scss/sass/user_center.scss */
  .user_info_box .exit {
    color: #caefff; }
  /* line 142, ../../../scss/sass/user_center.scss */
  .user_info_box .btn-login {
    display: inline-block;
    width: 2.6rem;
    height: 0.74rem;
    line-height: 0.74rem;
    text-align: center;
    font-size: 0.3rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px; }
  /* line 148, ../../../scss/sass/user_center.scss */
  .user_info_box .icon-unbind {
    position: absolute;
    bottom: 0.46rem;
    right: 0.64rem;
    display: block;
    width: 1.26rem;
    height: 0.3rem;
    background: url(../../images/user/icon-unbind.png) no-repeat left bottom;
    background-size: 0.47rem 0.14rem;
    font-size: 0.24rem;
    color: #fff;
    text-align: right;
    vertical-align: bottom; }

/* line 155, ../../../scss/sass/user_center.scss */
.user_info_bg01 {
  background-image: url(../../images/user/bg01.jpg);
  background-size: auto 4.54rem; }

/* line 160, ../../../scss/sass/user_center.scss */
.menu_box .menu_list {
  display: box;
  display: -webkit-box;
  box-align: center;
  -webkit-box-align: center;
  box-pack: center;
  -webkit-box-pack: center; }
/* line 168, ../../../scss/sass/user_center.scss */
.menu_box .menu_item {
  -webkit-box-flex: 1;
  box-flex: 1;
  width: 33.33333%;
  height: 1.8rem;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef; }
/* line 179, ../../../scss/sass/user_center.scss */
.menu_box .link_menu {
  display: block;
  padding-top: 0.38rem;
  text-align: center;
  color: #333;
  font-size: 0.24rem; }
  /* line 182, ../../../scss/sass/user_center.scss */
  .menu_box .link_menu span {
    display: block; }
  /* line 185, ../../../scss/sass/user_center.scss */
  .menu_box .link_menu.disabled {
    color: #eee; }

/* line 191, ../../../scss/sass/user_center.scss */
.section_bottom {
  position: absolute;
  bottom: 0.84rem;
  width: 100%;
  text-align: center; }

/****************order:start***********************/
/* line 197, ../../../scss/sass/user_center.scss */
.user_order_box {
  padding-top: 0.14rem;
  background: #ececec; }

/* line 201, ../../../scss/sass/user_center.scss */
.order_item {
  margin-bottom: 0.36rem;
  background: #fff url(../../images/user/circle_m.png) no-repeat bottom;
  background-repeat: repeat-x;
  background-size: 0.26rem 0.08rem; }

/* line 207, ../../../scss/sass/user_center.scss */
.or_item_bg {
  background: #fff; }

/* line 210, ../../../scss/sass/user_center.scss */
.order_item_hd {
  height: 1.1rem;
  line-height: 1.1rem;
  font-size: 0.28rem; }

/* line 214, ../../../scss/sass/user_center.scss */
.order_status {
  float: right;
  font-size: 0.24rem;
  color: #ff8a00; }

/* line 218, ../../../scss/sass/user_center.scss */
.co_table {
  padding: 0.32rem; }
  /* line 220, ../../../scss/sass/user_center.scss */
  .co_table .h_table {
    width: 100%; }
    /* line 225, ../../../scss/sass/user_center.scss */
    .co_table .h_table td {
      height: 0.76rem;
      background: #eff2f5;
      border: 1px solid #fff;
      font-size: 0.24rem; }
      /* line 228, ../../../scss/sass/user_center.scss */
      .co_table .h_table td .table_des {
        padding-left: 0.16rem;
        padding-right: 0.6rem;
        color: #666; }

/* line 236, ../../../scss/sass/user_center.scss */
.order_item_total {
  height: 1.25rem;
  font-size: 0.23rem; }
  /* line 239, ../../../scss/sass/user_center.scss */
  .order_item_total .span-first {
    display: block;
    padding-top: 0.24rem; }
  /* line 242, ../../../scss/sass/user_center.scss */
  .order_item_total .orange {
    font-size: 0.28rem; }

/* line 246, ../../../scss/sass/user_center.scss */
.order_item_btn {
  height: 1.18rem;
  line-height: 1.18rem;
  text-align: right; }

/*!=== order-detail:start===**/
/* line 251, ../../../scss/sass/user_center.scss */
.order_des_status {
  background-image: none; }

/* line 254, ../../../scss/sass/user_center.scss */
.tips_box {
  background-color: #ff8a00; }

/* line 258, ../../../scss/sass/user_center.scss */
.tips_detail {
  height: 0.6rem;
  line-height: 0.6rem;
  padding-left: 0.4rem;
  background: url(../../images/user/icon-tips.png) no-repeat left 0.17rem;
  background-size: 0.22rem 0.26rem;
  font-size: 0.24rem;
  color: #fff; }

/* line 263, ../../../scss/sass/user_center.scss */
.des_status_hd {
  padding-left: 0.4rem;
  background: url(../../images/user/icon-order-status.png) no-repeat left;
  background-size: 0.3rem 0.28rem; }
  /* line 267, ../../../scss/sass/user_center.scss */
  .des_status_hd .order_number {
    padding-right: 0.28rem; }
  /* line 270, ../../../scss/sass/user_center.scss */
  .des_status_hd .link-btn {
    float: right;
    margin-top: 0.27rem; }

/* line 275, ../../../scss/sass/user_center.scss */
.des_list_hd {
  background: url(../../images/user/icon-list-detial.png) no-repeat left;
  background-size: 0.28rem 0.27rem; }

/* line 280, ../../../scss/sass/user_center.scss */
.co_des_table td {
  text-align: center;
  vertical-align: middle; }

/* line 287, ../../../scss/sass/user_center.scss */
.co_list_table .h_table td {
  height: 1.18rem; }
  /* line 289, ../../../scss/sass/user_center.scss */
  .co_list_table .h_table td.align-left {
    text-align: left; }
    /* line 291, ../../../scss/sass/user_center.scss */
    .co_list_table .h_table td.align-left span {
      padding-left: 0.64rem; }

/* line 300, ../../../scss/sass/user_center.scss */
.des_bottom {
  background: #fff;
  padding-top: 0.26rem;
  padding-bottom: 0.26rem;
  font-size: 0.24rem; }
  /* line 306, ../../../scss/sass/user_center.scss */
  .des_bottom p {
    margin-bottom: 0.2rem; }
    /* line 308, ../../../scss/sass/user_center.scss */
    .des_bottom p:last-child {
      margin-bottom: 0; }

/*!=== order-detail:start===**/
/*!===order-coupon: start ===**/
/* line 316, ../../../scss/sass/user_center.scss */
.user_info_coupon {
  height: 3.22rem;
  background-image: url(../../images/user/bg02.jpg);
  background-size: auto 3.22rem; }
  /* line 320, ../../../scss/sass/user_center.scss */
  .user_info_coupon .photo_img {
    margin-bottom: 0.14rem;
    margin-top: 0.36rem; }
  /* line 324, ../../../scss/sass/user_center.scss */
  .user_info_coupon .red_balance {
    color: #b42828;
    font-size: 0.22rem; }
  /* line 328, ../../../scss/sass/user_center.scss */
  .user_info_coupon .red_balance_money {
    color: #ffd5d5;
    font-size: 0.4rem; }

/* line 333, ../../../scss/sass/user_center.scss */
.nav_menu_list {
  display: box;
  display: -webkit-box;
  box-align: center;
  -webkit-box-align: center;
  box-pack: center;
  -webkit-box-pack: center; }

/* line 341, ../../../scss/sass/user_center.scss */
.nav_menu_item {
  -webkit-box-flex: 1;
  box-flex: 1;
  width: 50%; }
  /* line 345, ../../../scss/sass/user_center.scss */
  .nav_menu_item a {
    display: block;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #333;
    font-size: 0.3rem; }
    /* line 349, ../../../scss/sass/user_center.scss */
    .nav_menu_item a.actived {
      border-bottom: 1px solid #38b863; }

/* line 355, ../../../scss/sass/user_center.scss */
.coupon_inout_list {
  padding-top: 0.34rem;
  padding-bottom: 0.34rem;
  background-color: #eff2f5;
  border-bottom: 1px solid #fff; }
  /* line 360, ../../../scss/sass/user_center.scss */
  .coupon_inout_list p:first-child {
    margin-bottom: 0.2rem;
    font-size: 0.24rem; }
  /* line 364, ../../../scss/sass/user_center.scss */
  .coupon_inout_list .fr {
    float: right; }

/* line 369, ../../../scss/sass/user_center.scss */
.order_select {
  width: 1.6rem;
  height: 0.54rem;
  line-height: 0.54rem;
  background: #fff url(../../images/user/icon_down.png) right 60% no-repeat;
  background-size: 0.22rem 0.11rem;
  border-color: #fff;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box; }

/*!===order-coupon: end ===**/
/*!===user-unbind: start ===**/
/* line 385, ../../../scss/sass/user_center.scss */
.user_bind_account {
  background-color: #eff2f5;
  border-bottom: 1px solid #fff; }

/* line 390, ../../../scss/sass/user_center.scss */
.bind_box {
  position: relative;
  width: 100%;
  padding-top: 0.36rem;
  padding-bottom: 0.36rem; }
  /* line 394, ../../../scss/sass/user_center.scss */
  .bind_box p:first-child {
    margin-bottom: 0.2rem; }
  /* line 398, ../../../scss/sass/user_center.scss */
  .bind_box a {
    position: absolute;
    bottom: 0.36rem;
    right: 0; }

/* line 403, ../../../scss/sass/user_center.scss */
.change_account {
  background-color: #eff2f5; }
  /* line 405, ../../../scss/sass/user_center.scss */
  .change_account a {
    display: block;
    position: relative;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.24rem;
    color: #333; }
    /* line 408, ../../../scss/sass/user_center.scss */
    .change_account a:after, .change_account a:before {
      right: -6px;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    /* line 418, ../../../scss/sass/user_center.scss */
    .change_account a:after {
      border-color: rgba(136, 183, 213, 0);
      border-left-color: #EFF2F5;
      border-width: 10px;
      margin-top: -10px; }
    /* line 424, ../../../scss/sass/user_center.scss */
    .change_account a:before {
      border-color: rgba(194, 225, 245, 0);
      border-left-color: #8a96a9;
      border-width: 8px;
      margin-top: -8px; }

/*!===user-unbind: end ===**/
/*!news:start ===**/
/* line 435, ../../../scss/sass/user_center.scss */
.article_hasimg {
  border-bottom: 1px solid #fff; }

/* line 438, ../../../scss/sass/user_center.scss */
.article_box {
  position: relative;
  height: 1.38rem;
  overflow: hidden; }

/* line 442, ../../../scss/sass/user_center.scss */
.article_link {
  display: block;
  padding-top: 0.26rem;
  padding-bottom: 0.26rem;
  background: #eff2f5;
  font-size: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  -webkit-touch-callout: none; }

/* line 455, ../../../scss/sass/user_center.scss */
.list_img_holder {
  width: 26%;
  height: 1.38rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background: url(../../images/user/placeholder_news_img.jpg) #000 no-repeat center center;
  background-size: auto 1.38rem; }

/* line 465, ../../../scss/sass/user_center.scss */
.list_img_holder img {
  border: 0;
  display: block;
  width: 100%;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity ease .3s;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  text-decoration: none; }

/* line 476, ../../../scss/sass/user_center.scss */
.article_desc {
  float: right;
  display: inline-block;
  width: 74%;
  vertical-align: middle;
  padding-left: 0.15rem; }

/* line 483, ../../../scss/sass/user_center.scss */
.desc_info {
  position: absolute;
  bottom: 0;
  font-size: 0.22rem;
  color: #999;
  line-height: 0.32rem;
  text-align: justify;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical; }

/* line 493, ../../../scss/sass/user_center.scss */
.desc_title {
  padding: 0;
  margin: 0;
  font-size: 0.28rem;
  color: #333;
  line-height: 0.32rem;
  text-align: justify; }

/* line 501, ../../../scss/sass/user_center.scss */
.article_detail_box {
  padding-top: 0.26rem; }
  /* line 504, ../../../scss/sass/user_center.scss */
  .article_detail_box .article_title {
    font-size: 0.36rem;
    font-weight: bold;
    margin-bottom: 0.3rem; }
  /* line 508, ../../../scss/sass/user_center.scss */
  .article_detail_box .time {
    margin-bottom: 0.16rem;
    color: #999; }

/* line 513, ../../../scss/sass/user_center.scss */
.detail_img {
  height: 4.65rem;
  width: 100%;
  display: block;
  vertical-align: middle;
  position: relative;
  background: url(../../images/user/placeholder_news_img.jpg) #000 no-repeat center center;
  background-size: auto 4.65rem; }

/* line 522, ../../../scss/sass/user_center.scss */
.detail_img img {
  border: 0;
  display: block;
  width: 100%;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity ease .3s;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  text-decoration: none; }

/* line 533, ../../../scss/sass/user_center.scss */
.article_txt {
  font-size: 0.3rem; }

/* line 536, ../../../scss/sass/user_center.scss */
.article_txt p {
  text-indent: 2em;
  font-size: 1em;
  margin-top: 0.52rem;
  line-height: 0.52rem; }

/*!news:end ===**/
/****************order:end***********************/
/* line 548, ../../../scss/sass/user_center.scss */
.icon {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50% 50%; }
  /* line 552, ../../../scss/sass/user_center.scss */
  .icon.disabled {
    background-color: #eee; }

/* line 556, ../../../scss/sass/user_center.scss */
.icon-order {
  background: #ffba00 url(../../images/user/icon-order.png) no-repeat center;
  background-size: 0.28rem 0.33rem; }

/* line 561, ../../../scss/sass/user_center.scss */
.icon-coupon {
  background: #f96565 url(../../images/user/icon-coupon.png) no-repeat center;
  background-size: 0.28rem 0.31rem; }

/* line 565, ../../../scss/sass/user_center.scss */
.icon-query {
  background: #54b3df url(../../images/user/icon-query.png) no-repeat center;
  background-size: 0.28rem 0.31rem; }

/* line 569, ../../../scss/sass/user_center.scss */
.icon-about {
  background: #30c1b8 url(../../images/user/icon-about.png) no-repeat center;
  background-size: 0.32rem 0.28rem; }

/* line 574, ../../../scss/sass/user_center.scss */
.icon-pointm {
  background: url(../../images/user/icon-pointm.png) no-repeat center;
  background-size: 0.34rem 0.28rem; }

/* line 579, ../../../scss/sass/user_center.scss */
.icon-cash {
  background: url(../../images/user/icon-cash.png) no-repeat center;
  background-size: 0.31rem 0.28rem; }

/* line 584, ../../../scss/sass/user_center.scss */
.icon-tel {
  padding-left: 0.3rem;
  background: url(../../images/user/icon-tel.png) no-repeat left center;
  background-size: 0.27rem 0.26rem; }

/* line 591, ../../../scss/sass/user_center.scss */
.m_dialog {
  position: relative;
  margin: 0 auto;
  height: 2.4rem;
  width: 90%;
  background: #fff;
  border-radius: 4px; }
  /* line 599, ../../../scss/sass/user_center.scss */
  .m_dialog .m_dialog_bottom {
    position: absolute;
    width: 100%;
    bottom: 0.5rem; }
  /* line 605, ../../../scss/sass/user_center.scss */
  .m_dialog .m_btn_group .btn-dia {
    width: 45%; }

/* line 611, ../../../scss/sass/user_center.scss */
.d_des {
  height: 1.24rem;
  line-height: 1.24rem;
  text-align: center;
  font-size: 0.24rem; }
