@charset "UTF-8";
//-----------------------------------------------------
%border-bottom {
	border-bottom:1px solid #dcdcdc;
}
%p-32 {
	padding-left:rem(32px);
	padding-right:rem(32px);
}
%btn {
	width:rem(168px);height:rem(56px);line-height:rem(56px);
	text-align:center;border-radius:4px;
}
%btn-dialog {
	height:rem(62px);line-height:rem(62px);
	text-align:center;border-radius:4px;
}
%inline-block{
	display:inline-block;
}
%arrow {
	&:after,&:before {
		right:-6px;top:50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		// pointer-events: none;
	}
	&:after {
		border-color: rgba(136,183,213,0);
	    border-left-color: #EFF2F5;
	    border-width: rem(10px);
	    margin-top: -rem(10px);
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-left-color: #8a96a9;
		border-width: rem(8px);
		margin-top: -rem(8px);

	}
}
%highlight {
	// pointer-events: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    text-decoration: none;
}

