@charset "UTF-8";
//-----------------------------------------------------
// table
.co_table {
	padding:rem(32px);
	.h_table {
	width:100%;
	tr{

	}
	td{
		height:rem(76px);
		background:#eff2f5;border:1px solid #fff;font-size:rem(24px);
		text-align:center;
		vertical-align:middle;
		.table_des {
			padding-left: rem(16px);
			padding-right: rem(60px);
			color:$color-sub;
		}
	}
}
}
