@charset "UTF-8";
//-----------------------------------------------------
// base scss
// 提供所有的基础功能包括：变量设置，css3前缀填充，@media，基础mixin，栅格化grid，reset样式
// 默认会输出reset样式一份
//-----------------------------------------------------

//-----------------------------------------------------

$base-fonts-default: 100px; //基准数
$max-container: 750px;  //最大视屏宽度,根据设计稿而定
$responsives: 320px, 360px, 375px, 384px, 414px, 480px, 640px, 750px;  // 屏幕断点

$color-primary:#38b863;
$color-sub:#666;
$color-note:#999;
$color-orange:#ff8a00;
$img-user-center :"../../images/user/";
$imgurl :"../../images/";

$base-font-size:24px;
